[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.kotdath.AuroraRL3D
Exec=/usr/bin/ru.kotdath.AuroraRL3D
Name=AuroraRL3D
Name[ru]=AuroraRL3D

[X-Application]
Permissions=
OrganizationName=ru.kotdath
ApplicationName=AuroraRL3D
ExecDBus=/usr/bin/ru.kotdath.AuroraRL3D
